* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar {
    background: linear-gradient(to 
        bottom, 
        rgb(27, 117, 27), 
        #3f2b06
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar-2 {
    background: linear-gradient(to 
        bottom, 
        #FFC100, 
        #FF8A08
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#navbar-2 #logo {
    margin-right: auto;
}
#navbar-2 .cta-button {
    background-color: white;
    color: #FF8A08;
    border-radius: 36px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}

#promo {
    background: linear-gradient(to 
        bottom, 
        #640D6B, 
        #6C0345
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#navbar-3 {
    background: linear-gradient(to 
        bottom, 
        #481E14, 
        #9B3922
    );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar-3 a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#navbar-bottom {
    background: linear-gradient(to 
        bottom, 
        #F97300, 
        #F2613F
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar-bottom a {
    text-decoration: none;
    color: white;
    padding: 12px 36px;
}

#navbar-3 #logo {
    margin-right: auto;
}

#navbar-3 .cta-button {
    background-color: white;
    color: #9B3922;
    border-radius: 36px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}