* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0px;
    font-family: fantasy;
    color: white;
    text-align: center;
}

.light-container {
    background-color: rgb(1, 1, 51);
    padding: 48px;
}

.green-container {
    background-color: seagreen;
    padding: 24px;
}

.lightblue-container {
    background-color: lightskyblue;
    padding: 24px;
}

.orange-container {
    background-color: goldenrod;
    padding: 24px;
}