@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #AA89C1;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar card-container"
    ;
}

#navbar {
    background-color: #78459B;
    display: flex;
    grid-area: navbar;
    align-items: center;
    border-bottom: 3px solid #331E56;
}

#navbar a {
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    color: #331E56;
    font-weight: bold;
}

#navbar #logo {
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 8px;
}

#navbar img {
    width: 100px;
}

#navbar a:hover {
    background-color: #ba8bda;
    color: white;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5,
        visibility 0.5s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #78459B;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #ba8bda;
}

h2 {
    text-align: center;
    margin: 24px;
    color: #331E56;
}

#sidebar {
    background-color: #78459B;
    grid-area: sidebar;
    padding: 0px 24px;
    border: 3px solid #331E56;
    margin: 10px;
    border-radius: 5px;
    width: 230px;
    height: 160px;
    position: sticky;
    top: 14px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
}

#sidebar ul a {
    text-decoration: none;
    color: #331E56;
    padding: 12px;
    display: block;
    font-weight: bold;
}

#sidebar ul a:hover {
    background-color: #ba8bda;
    border-radius: 12px;
}

#home-hero {
    background-image: url(../images/pexels-horizon-content-2100060-3763816.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
    color: white;
}

#home-hero h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 4vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

#home-hero p {
    font-weight: bold;
    font-size: 2vw;
    margin: 0px 5vw 0px 0px;
}

#home-hero .btn {
    font-size: 1.5vw;
    display: inline-block;
    border: 3px solid #331E56;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5vh 5vw 10vh 0px;
    font-weight: bold;
    background-color: #78459B;
    color: #331E56;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
} 

#home-hero .btn:hover {
    background-color: #ba8bda;
    color: white;
}

#cards-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 3px solid #331E56;
    padding: 24px;
    color: #331E56;
    margin: 12px;
    border-radius: 12px;
    text-align: center;
    background-color: #C996D6;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card a {
    text-decoration: none;
    color: #331E56;
    display: block;
    border: 3px solid #331E56;
    padding: 12px;
    margin-top: 36px;
    background-color: #78459B;
    border-radius: 15px;
}

.card a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

.card a:hover {
    background-color: #ba8bda;
    color: white;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#foot {
    background-color: #CE529E;
    color: #560084;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #331E56;
}

#footer {
    background-color: #78459B;
    color: white;
    border-top: 3px solid #331E56;
    padding: 12px;
}

#footer h3 {
    color: #331E56;
}

#footer a {
    text-decoration: none;
    color: #560084;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    color: #331E56;
    justify-content: space-between;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;
}

@media screen and (max-width: 786px) and (min-width: 479px) {
    #grid {
        display: none;
    }

    #navbar {
        position: static;
        top: 0; 
        left:0;
        margin: 0px;
        padding: 10px 70px 10px 70px;
        width: 100%;
        flex-direction: column;
    }

    #navbar #logo {
        margin: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #sidebar {
        display: none;
    }

    #cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 50%;
    }

    #home-hero h1 {
        font-size: 40px;
    }

    #home-hero p {
        font-size: 4vw;
        font-weight: bold;
    }

    #foot {
        display: none;
    }

    #footer {
        display: none;
    }

    #footer-navbar {
        display: none;
    }

    #footer-columns-navbar {
        display: none;
    }
}