@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/pexels-babydov-7788657.jpg);
    background-position: center;
}

#header {
    position: sticky;
    top: 0px;
}

#navbar {
    background: linear-gradient(to 
        bottom, 
        #f6a192,
        #f6a192,
        #f6c492, 
        #f6cf92,
        #f6d992
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid black;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
}

#navbar #logo {
    margin-right: auto;
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 2px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        #f6a192,
        #f6a192,
        #f6c492, 
        #f6cf92,
        #f6d992
    );
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5,
        visibility 0.5s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #f6a192;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #f6d992;
}

#pet-hero {
    background-image: url(../images/pexels-lum3n-44775-406014.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    display: flex;
    align-items: center;
}

#pet-hero h1 {
    font-family: "Mochiy Pop One", sans-serif;
    margin: 0px;
    font-size: 70px;
}

#pet-hero p {
    margin: 10px 0px 20px;
    font-size: 3vw;
    font-weight: bold;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(to 
        bottom, 
        #ebc0b9ef,
        #eed5bccc, 
        #f5ecdfea
    );
    width: 450px;
    border: 3px solid black;
    padding: 24px;
    box-shadow: -4px 4px 12px #000000;
    margin: 50px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
    font-family: "Mochiy Pop One", sans-serif;
}

.card p {
    font-size: 18px;
}

@media screen and (max-width: 786px) and (min-width: 480px) {
    #header {
        position: static;
        top: 0px;
    }

    #navbar {
        align-items: center;
        flex-direction: column;
    }

    #navbar #logo {
        margin: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #card-container {
        text-align: center;
        align-items: center;
    }

    #card-container h2 {
        font-size: 24px;
    }

    #pet-hero h1 {
        font-size: 40px;
    }

    #pet-hero p {
        font-size: 4vw;
        font-weight: bold;
    }
}