/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    width: 600px;
    border: 4px solid black;
    border-radius: 20.5px;
    background: linear-gradient(to right, rgb(255, 201, 119), coral);
}

#left-side {
    text-align: left;
}

#right-side {
    text-align: right;
}

#donor-and-real-id {
    display: block;
}

#left-side h4 {
    background-color: darkblue;
    color: white;
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

#content h1 {
    color: darkblue;
    font-weight: bold;
    display: block;
    font-size: 60px;
}




